.App {
  text-align: center;
}

.wrapper {
  border: 1px solid black;
  margin: 10px 500px;
  background-color: rgb(214, 233, 176);
}

.CinemaHall {
  background-color: #b9a9a9;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.CinemaHall > * {
  margin: 5px 10px;
  background-color: red;
  width: 20%;
  height: 40px;
}

.green {
  background: green;
}

.red {
  background-color: red;
}
